---
import BaseLayout from "../../layouts/BaseLayout.astro";

const workshops = [
  {
    title: "Cybertron 2.0",
    slug: "cybertron",
    lessonInfo: "28 Exercises = 7 Lessons(4 Exercises Per Lesson)",
    description:
      "Learn function composition through mini exercies using Ramdajs map, filter reduce, compose and more.",
    href: "/workshops/cybertron",
  },
];
---

<!doctype html>
<BaseLayout>
  <div class="left-0 top-0 -z-10 h-full w-full overflow-x-clip">
    <section class="w-full px-6 pb-12 pt-16 sm:pb-20 sm:pt-32">
      <div
        class="fade animate-fade absolute left-0 top-0 -z-10 h-full w-full overflow-x-clip"
      >
        <div
          class="parallax-element absolute top-0 flex h-max w-full transform-gpu items-end justify-end"
          style={{
            transform: "translateY(-73.2px) translate3d(0px, 0px, 0px)",
          }}
        >
          <img
            alt="Satellite"
            class="homepageBounce mr-[5%] mt-[20%]"
            height="400"
            src="/fofx.svg"
            loading="lazy"
            width="400"
          />
        </div>
      </div>
      <header>
        <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 sm:gap-10">
          <h1
            class="text-balance text-5xl font-[800] leading-[1] -tracking-[2.5px] [@media(max-width:500px)]:text-5xl"
          >
            Functional Programming Foundations
          </h1>
          <h2
            class="reveal animate-revealHero2 -mt-2 text-balance text-xl font-medium sm:-mt-4"
          >
            A collection of exercise-driven, self-paced, <br
              class="hidden lg:inline"
            />
            functional programming workshops for you to achieve functional programming
            mastery.
          </h2>
        </div>
      </header>
    </section>
    <section class="relative flex w-full gap-14 px-6 pt-0 sm:pt-0">
      <div
        class="flex w-full flex-col items-start justify-between max-w-7xl mx-auto"
        style={{ gap: "64px" }}
      >
        <div class="z-20 w-full items-stretch gap-8 max-w-3xl flex flex-col">
          {
            workshops.map((workshop) => (
              <a
                class="reveal animate-revealContent group relative flex flex-col overflow-hidden rounded-xl border border-neutral-800 transition-colors duration-300 ease-out hover:cursor-pointer"
                rel="prefetch"
                href={workshop.href}
                style={{ animationDuration: "2s", animationDelay: "1s" }}
              >
                <h3 class="mb-4 mt-6 px-6 text-4xl font-semibold">
                  {workshop.title}
                </h3>
                <p class="relative flex max-w-xl grow px-6 text-base font-normal">
                  {workshop.lessonInfo}
                </p>
                <p class="font-regular my-6 px-6 text-base font-normal opacity-90 tracking-wide text-balance">
                  {workshop.description}
                </p>
                <div class="absolute bottom-2 right-2 flex size-8 items-center justify-center rounded-full bg-white text-black opacity-0 transition-opacity sm:group-hover:opacity-100">
                  <span class="*:ease-bounce relative flex size-5 items-center justify-center overflow-hidden *:transition-transform *:duration-[400ms]">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="absolute -translate-x-5 group-active:translate-x-0 sm:group-hover:translate-x-0"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.867 19.125h.008v.008h-.008v-.008Z"
                      />
                    </svg>
                  </span>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
