---
import { Toaster } from "@/components/ui/toaster";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header";
import { ClientRouter } from "astro:transitions";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>

  <body>
    <Header client:only="react" />
    <main>
      <slot />
    </main>
    <Toaster client:only="react" />
  </body>
</html>
